=render :partial => "shared/navbar", :user => @user
			
%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			-if @user.usertype != 'Administrative Assistant'
				%li
					%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator' || @user.usertype == 'Administrative Assistant'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	=render :partial => "shared/sidebar-showhide"

	%div#page-content-wrapper
		%div.container-fluid 			
			%h2 Your account has not been verified yet. Please wait for the admin you verify your information