%html.beforehome
	%body.beforehome
		%div.container
			%div.card.card-container
				%p#notice= notice
				%p#alert= alert
				%h2.beforehome-title Please enter the email address associated with your account
				= form_tag(password_resets_path, class: 'signin') do
					.field
						= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email'
					%button.btn-login.btn-lg.btn-pprimary.btn-block.btn-signin{:type=>"submit"} Reset Password