=render :partial => "shared/navbar", :user => @user						

%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			%li
			-if @user.usertype != 'Administrative Assistant'
				%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator' || @user.usertype == 'Administrative Assistant'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	%div#page-content-wrapper
		%div.container-fluid 
			<iframe src="https://www.google.com/calendar/embed?src=va.er.core.scheduler%40gmail.com&ctz=America/San_Francisco" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			