// Place all the styles related to the availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
	vertical-align: top;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	width: 10%;
	text-align: left;
}

tr.shift {
	border-bottom: 1px solid lightgray
}

th {
	text-align: center;
}

tr {
	
}
div#green {
	width: 20px;
	border-bottom: 5px solid green;
}

div#yellow {
	width:20px;
	border-bottom: 5px solid gold;
}
div#red {
	width:20px;
	border-bottom: 5px solid red;
}
				