.title {
	margin: 0;
	color: rgb(187, 121, 0);
}

.header-info {
	color: #dedede;
}

body#center{
	text-align: center !important;
}

.navbar {
	margin: 0;
	border: 0;
	border-radius: 0px !important;
	background-image: linear-gradient(to bottom, #3f3f3f 0%, #030303 100%);
}

.navbar-center {
	position: absolute;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.navbar-brand {
	padding: 10px 10px;
	vertical-align: middle;
	color: rgb(187, 121, 0) !important;
	margin: 0 !important;
	line-height: 35px !important;
	font-size: 30px;
}

.btn {
	color: rgb(187, 121, 0) !important;
}

.content-separator {
	margin-bottom: 20px;
    border-top: 1px solid;
    margin-top: 20px;
    border-color: gray;
}

.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar:focus {
	color: rgb(0, 143, 178) !important;
}